
.fondo{
 background-color: white; /* For browsers that do not support gradients */
 background-image: linear-gradient(to bottom right, white,#53A2DA); /* Standard syntax (must be last) */
}


.divBotonesNav{
 text-align: center;
}
.btnAdelante{
  
  width:65px;
  height:65px;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:right;
}
.btnAtras{
 
  width:65px;
  height:65px;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.svgCajaDeTexto{
 width: 250px;
 height: 150px;
}
.svgAtras{
 .cls-1{fill:#EB5309;}.cls-2{opacity:0.15;}.cls-3{fill:#e6e7e7;}.cls-4{fill:#fff;}
}
.svgAdelante{
 .cls-1{fill:#F0B82D;}.cls-2{opacity:0.15;}.cls-3{fill:#fff;}.cls-4{fill:#e6e7e7;}
}
.btnHablar{
 width: 95px;
}

.svgHablar{
 cls-1{fill:url(#linear-gradient);}.cls-2{opacity:0.15;}.cls-3{fill:#b3b3b2;}.cls-4{fill:gray;}.cls-5{fill:none;stroke:#4e4d4d;stroke-miterlimit:10;stroke-width:20px;}.cls-6{fill:#4e4d4d;}
}
.svgGenero{
  .cls-1,.cls-15,.cls-20,.cls-31,.cls-4{fill:none;}.cls-2{fill:url(#radial-gradient);}.cls-3{fill:url(#radial-gradient-2);}.cls-4{clip-rule:evenodd;}.cls-26,.cls-5{fill:#fff;}.cls-6{fill:#f5f5f5;}.cls-7{clip-path:url(#clip-path);}.cls-14,.cls-25,.cls-8{fill:#1d1d1b;}.cls-10,.cls-13,.cls-15,.cls-20,.cls-22,.cls-23,.cls-31,.cls-32,.cls-8{stroke:#1d1d1b;stroke-linecap:round;}.cls-10,.cls-13,.cls-15,.cls-20,.cls-22,.cls-23,.cls-32,.cls-8{stroke-linejoin:round;}.cls-13,.cls-8{stroke-width:1.55px;}.cls-27,.cls-9{fill:#53a2da;}.cls-12,.cls-27,.cls-29,.cls-9{stroke:#000;}.cls-12,.cls-27,.cls-29,.cls-31,.cls-9{stroke-miterlimit:10;}.cls-10,.cls-13{fill:#f5ad93;}.cls-10{stroke-width:1.77px;}.cls-11{fill:#7da5d9;opacity:0.23;}.cls-12,.cls-29{fill:#3f81aa;}.cls-15{stroke-width:1.64px;}.cls-16{clip-path:url(#clip-path-2);}.cls-17{fill:url(#radial-gradient-4);}.cls-18{clip-path:url(#clip-path-3);}.cls-19{fill:url(#radial-gradient-6);}.cls-20,.cls-31{stroke-width:0.75px;}.cls-21{clip-path:url(#clip-path-4);}.cls-22,.cls-23{fill:#eecbb3;stroke-width:1.79px;}.cls-22,.cls-24,.cls-25,.cls-26,.cls-27,.cls-29,.cls-31,.cls-32{fill-rule:evenodd;}.cls-24,.cls-30{fill:#d7b6a4;}.cls-28{clip-path:url(#clip-path-5);}.cls-32{fill:#ba9b86;stroke-width:1.32px;}
}
.divGenero{
 margin-top:60px;
 margin-bottom: 30px;  
 
 width: 150px;
 height:120px;
   
}