
.fondo{
 background-color: #00BCD4;
}

.bPLay{
 background-color:#32AB94;
}
.divBotonesNav{
 text-align: center;
}
.btnAdelante{
  
  width:65px;
  height:65px;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:right;
}
.btnAtras{
 
  width:65px;
  height:65px;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.svgAtras{
 .cls-1{fill:#32ab94;}
 .cls-2{fill:#fff;}
}
.svgAdelante{
 .cls-1{fill:#32ab94;}
 .cls-2{fill:#fff;}
}
.btnHablar{
 width: 95px;

}
.svgHablar{
 .cls-1{fill:#30B644;}.cls-2{fill:#fff;}
}
.divCiudad{
 margin-top:100px;
 margin-bottom: 30px;

 width: 120px;
 height: 120px;

}
