
  
 

.fondo{
 background-color: white; /* For browsers that do not support gradients */
 background-image: linear-gradient(to bottom right, white,#53A2DA); /* Standard syntax (must be last) */
}


.divBotonesNav{
 text-align: center;
}
.btnAdelante{
  
  width:65px;
  height:65px;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:right;
}
.btnAtras{
 
  width:65px;
  height:65px;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.svgCajaDeTexto{
 width: 250px;
 height: 150px;
}
.svgAtras{
 .cls-1{fill:#EB5309;}.cls-2{opacity:0.15;}.cls-3{fill:#e6e7e7;}.cls-4{fill:#fff;}
}
.svgAdelante{
 .cls-1{fill:#F0B82D;}.cls-2{opacity:0.15;}.cls-3{fill:#fff;}.cls-4{fill:#e6e7e7;}
}
.btnHablar{
 width: 95px;
}

.svgHablar{
 cls-1{fill:url(#linear-gradient);}.cls-2{opacity:0.15;}.cls-3{fill:#b3b3b2;}.cls-4{fill:gray;}.cls-5{fill:none;stroke:#4e4d4d;stroke-miterlimit:10;stroke-width:20px;}.cls-6{fill:#4e4d4d;}
}
.divCedula{
 margin-top:60px;
 margin-bottom: 30px;  
 
 width: 200px;
   
}